/* contact Banner */

.contBan {
    position: relative;
    height: 100vh;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    color: white;
    border-bottom: 1px solid rgb(87, 87, 87);
    overflow: hidden;
}

h1,h2 {
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 30px;
}

h1 {
    font-size: 40px;
}

h2 {
    top: 250px;
    font-size: 35px;
}

.contPic {
    height: 100%;
    width: 100%;
}

.contPic::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0,0.3);
}

.contPic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Detail Section */

.place {
    color: #3A3FC0;
    cursor: pointer;
    height: 30vh;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .5s ease-in-out;
}

.place span {
    font-size: 23px; 
    font-weight:500;
}

.place:hover {
    background-color: rgb(236, 236, 236);
}

/* Map View */

.map {
    border: 1px solid rgb(156, 156, 255);
    height: 100vh;
    width: 100%;
}

.map p {
    height: 100%;
    width: 100%;
}



/* Responsiveness */

/* 1030px */

@media only screen and (max-width: 1030px){
    /* Banner */
    .contBan {
        height: 900px;
    }

    /* Detail Section */

    .place {
        height: 150px;
    }

    /* Map */

    .map {
        height: 600px;
    }

}

/* 780px */

@media only screen and (max-width: 780px){
    /* Banner */
    .contBan {
        height: 700px;
    }

}

/* 550px */

@media only screen and (max-width: 550px){
    /* Banner */
    h2 {
        top: 250px;
        font-size: 28px;
    }

    /* Detail Section */

    .place {
        height: 30vh;
        width: 100%;
        flex-direction: column;
    }
}

/* 420px */

@media only screen and (max-width: 420px){
    /* Banner */
    .contBan {
        height: 520px;
    }
    
}

/* 375px */
@media only screen and (max-width: 375px){
    /* Banner */
    .contBan {
        height: 500px;
    }

    .map {
        height: 400px;
    }
    
}

/* 320px */
@media only screen and (max-width: 320px){
    /* Banner */
    .contBan {
        height: 450px;
    }

    /* Banner */
    h2 {
        top: 250px;
        font-size: 24px;
    }

}

/* 290px */
@media only screen and (max-width: 290px){
    /* Banner */
    .contBan {
        height: 430px;
    }

    /* Banner */
    h2 {
        top: 250px;
        font-size: 21px;
    }

    .place span {
        font-size: 20px;
    }
}