* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

/* Header */

.header {
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease-in-out;
}

.logo {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.logo span {
    font-family: 'Montserrat', sans-serif;
    color: #3A3FC0;
}

.logo span:first-child {
    font-size: 37px;
    font-weight: 800;
}

.logo span:last-child {
    font-size: 23px;
    font-weight: 600;
}

.logNav {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.logNav a:nth-child(1){
    color: rgb(4, 172, 46);
    font-size: 20px;
}

.logNav a:nth-child(2){
    margin-right:  20px;
    color: rgb(201, 53, 27);
    font-size: 20px;
}


/* Upload Section */

.secUp {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Image View Before Upload */

.viewIm {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.viewIm span {
    font-size: 20px;
    color: #5ACA57;
}

.resize {
    width: 350px;
    height: auto;
}

.resize {
    width: 250px;
    height: auto;
}

/* form Imputs */

label {
    display: none;
}

.secUp form {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Dropdown Menu */

select {
    background-color: #8a8fec;
    width: 200px;
    height: 30px;
    font-size: 16px;
    outline: none;
    border: none;
}

/* Input */


::-webkit-file-upload-button {
    color: white;
    font-size: 16px;
    background-color: #5ACA57;
    padding: 15px;
    border: none;
    border-radius: 50px;
    outline: none;
    width: 200px;
}

/* Form Style */


form textarea {
    width: 500px;
    height: 180px;
    font-size: 15px;
    resize: none;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #D7D7D7;
    color: #666AB9;
}

#view a {
    color: white;
    font-weight: lighter;
}

form #upload {
    font-size: 18px;
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 30px;
    background-color: #666AB9;
}

#upload {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    outline: none;
}

#upTick {
    color: white;
    font-size: 30px;
}

button {
    cursor: pointer;
}




/* Responsiveness */

/* 1030px */
@media only screen and (max-width: 1030px){
    /* Upload Section */

    .secUp {
        height: 600px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

}

/* 840px */
@media only screen and (max-width: 840px){

    .viewIm span {
        text-align: center;
    }
    /* Form Style */

    form textarea {
        width: 400px;
    }
}

/* 550px */

@media only screen and (max-width: 550px){
    /* Upload Section */

    .secUp {
        height: 900px;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .viewIm {
        height: 60%;
        width: 100%;
    }

    form {
        height: 40%;
        width: 100%;
    }
    
}

/* 420px */

@media only screen and (max-width: 420px){

    /* Header */

    .header {
        height: 170px;
        display: flex;
        flex-direction: column;
    }

    .logo {
        padding-top: 20px;
    }

    form textarea {
        width: 380px;
        height: 150px;
    }

    .secUp {
        height: 800px;
    }
}

/* 375px */
@media only screen and (max-width: 375px){
    form textarea {
        width: 350px;
        height: 150px;
    }

    .viewIm span {
        font-size: 16px;
    }
}

/* 360px */
@media only screen and (max-width: 360px){
    form textarea {
        width: 340px;
        height: 150px;
    }
}

/* 320px */
@media only screen and (max-width: 320px){
    form textarea {
        width: 300px;
    }
}

/* 290px */
@media only screen and (max-width: 290px){
    form textarea {
        width: 260px;
    }

    /* Input */

    ::-webkit-file-upload-button {
        width: 150px;
        margin-left: 10px;
    }

}