{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/09e314988c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static '/css/fieldMany.css' %}">
    <title>::|Dene Shape Design</title>
</head>
<body>

    <div class="cursor"></div>
    <!--Heading Place-->
    <div class="start">
        <h1>Dene Shape Design</h1>
        <div class="links">
            <a href="{% url 'index' %}"><span>Home</span></a>
            <a href="{% url 'field' %}"><span>Categories</span></a>
        </div>
    </div>
    <!--Heading Place-->

    <!--Looping Through Items-->
    <div class="section">
        <p>Click On The Image To View Its Details</p>
        <div class="small" >
            <!--This Are The Uploads-->
            {% for Den in Dene %}
            <div class="ima"  data-aos="fade-up">
                <a href="{% url 'fieldDesc' Den.pk %}"><img src="{{Den.image_url}}"  class="resize" alt=""></a>
            </div>
            {% endfor %}
            <!--This Are The Uploads-->
        </div>
    </div>
    <!--Looping Through Items-->

    <!--SCROLL ANIMATION-->

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 300,
            duration: 1000
        });
    </script>

    <!--SCROLL ANIMATION-->
    
</body>
<script src="{% static '/js/manyField.js' %}"></script>
</html>