{% extends "inherit.html" %}
{% load static %}
{% block extra_head %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/09e314988c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static '/css/contact.css' %}">
<title> Remedy Paver ::|:contatUs</title>
<meta name="description" content="Remedy Paver Blocks Production Contacts Info">
{% endblock %}
{% block content %}
    <div class="contBan banner">
        <h1 class="parallax1" >JOIN US!</h1>
        <h2 class="parallax2" >We are always open for cooperation and looking for new business opportunities. </h2>
        <div class="contPic">
            <img src="{% static '/images/contact.jpg' %}" alt="Remsy paver contact image">
        </div>
    </div>
    <div class="place">
        <span style="font-size: 40px; font-weight:600; " >Nairobi</span>
        <span style="font-size: 23px; font-weight:500; ">Ruai Kangundo rd</span>
    </div>
    <div class="map">
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1629.3521739166613!2d37.01542721828853!3d-1.2762376270264735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f6b13ffa766a7%3A0x1ecf96543353f34d!2sShell%20petrol%20station!5e0!3m2!1sen!2ske!4v1614753175915!5m2!1sen!2ske" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
    </div><div class="place">
        <span>remedypavers@gmail.com</span>
        <span>+254715525530</span>
        <span>+254724853839</span>
    </div>

    <script>

        window.addEventListener('scroll', function(){
            const parallax1 = document.querySelector('.parallax1');
            const parallax2 = document.querySelector('.parallax2');
            let scrollDownPosition = window.pageYOffset;

            parallax1.style.transform = 'translateX(' + scrollDownPosition * -2 + 'px)';
            parallax2.style.transform = 'translateX(' + scrollDownPosition * 4  + 'px)';
        })


    </script>

{% endblock %}