{% extends "inherit.html" %}
{% load static %}
{% block extra_head %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/09e314988c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link rel="stylesheet" href="{% static '/css/index.css' %}">
<title> Remedy Paver ::|:Home</title>
<meta name="description" content="Remedy Paver Blocks Production Manufactures And Sells Quality Pavers Of Various Colors">
<meta name="keywords" content="Remedy Paver Blocks Production, Elegance, Dune, ZigZag, Dazzle, Arrow, Lily, Shape">
{% endblock %}
{% block content %}
    <div class="welcome">
        <div class="banner">
            <h1>REMEDY PAVER BLOCKS PRODUCTION</h1>
            <p>Interlocking coloured Cabros, Road chanels, Hollows etc</p>
            <span>remedypavers@gmail.com</span>
        </div>
        <!--Image sliders-->
        <div class="slider">
            <div class="slides">
                <!--Radio Buttons Start-->
                <input type="radio" id="radio1" name="radio-btn" >
                <input type="radio" id="radio2" name="radio-btn" >
                <input type="radio" id="radio3" name="radio-btn" >
                <input type="radio" id="radio4" name="radio-btn" >
                <!--Radio Buttons End-->
                <!--Slider images start-->
                <div class="slide first">
                    <img src="{% static '/images/img/beautifRed.jpeg' %}" alt="Elegance Design Shape">
                </div>
                <div class="slide">
                    <img src="{% static '/images/img/bl.jpeg' %}" alt="ZigZag Design Shape">
                </div>
                <div class="slide">
                    <img src="{% static '/images/img/blackYellow.jpeg' %}" alt="Arrow Design Shape">
                </div>
                <div class="slide">
                    <img src="{% static '/images/img/elegance3.jpeg' %}" alt="Lily Design Shape">
                </div>
                <!--Slider images end-->
                <!--Auto navigation start-->
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
                <!--Auto navigation end-->
            </div>
            <!--Manual navigation start-->
            <div class="navigation-manual">
                <label for="radio1" class="manual-btn" ></label>
                <label for="radio2" class="manual-btn" ></label>
                <label for="radio3" class="manual-btn" ></label>
                <label for="radio4" class="manual-btn" ></label>
            </div>
            <!--Manual navigation end-->
        </div>
    </div>

    <!--PRODUCT SECTION-->
    <div class="products">
        <div class="headP"  data-aos="fade-up">
            <h2>OUR PRODUCTS</h2>
            <p>From Interlocking coloured Cabros, Road chanels to Hollows. </p>
        </div>
        <div class="prods">
            <div class="prod" data-aos="fade-up">
                <img src="{% static '/images/grBlack.jpeg' %}" alt="Dune Design Tiles">
                <div class="desc">
                    <span>Dune Shape</span>
                    <span>Available</span>
                </div>
                <div class="disco">
                    <a href="{% url 'products' %}"><span>Discover</span></a>
                    <i class="fas fa-location-arrow" id="discover" ></i>
                </div>
            </div>
            <div class="prod" data-aos="fade-up">
                <img src="{% static '/images/grYellow.jpeg' %}" alt="Arrow Design Tiles">
                <div class="desc">
                    <span>Arrow Head Shape</span>
                    <span>Available</span>
                </div>
                <div class="disco">
                    <a href="{% url 'products' %}"><span>Discover</span></a>
                    <i class="fas fa-location-arrow" id="discover" ></i>
                </div>
            </div>
            <div class="prod" data-aos="fade-up">
                <img src="{% static '/images/fieldYellow.jpeg' %}" alt="Lily Design Tiles">
                <div class="desc">
                    <span>Lily Design Shape</span>
                    <span>Available</span>
                </div>
                <div class="disco">
                    <a href="{% url 'products' %}"><span>Discover</span></a>
                    <i class="fas fa-location-arrow" id="discover" ></i>
                </div>
            </div>
            <div class="prod" data-aos="fade-up">
                <img src="{% static '/images/groundRed.jpeg' %}" alt="Elegance Design Tiles">
                <div class="desc">
                    <span>Elegance Shape</span>
                    <span>Available</span>
                </div>
                <div class="disco">
                    <a href="{% url 'products' %}"><span>Discover</span></a>
                    <i class="fas fa-location-arrow" id="discover" ></i>
                </div>
            </div>
        </div>
    </div>
    <!--END PRODUCT SECTION-->
     <!--Scripts section-->
     <script>
        var counter = 1;
        setInterval(function(){
            document.getElementById('radio' + counter).checked = true;
            counter++;
            if(counter > 4){
                counter = 1;
            }
        },5000);
    </script>

    <!--SCROLL ANIMATION-->

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 300,
            duration: 1000
        });
    </script>

    <!--SCROLL ANIMATION-->

{% endblock %}
{% block java %}
<script src="{% static '/js/inherit.js' %}"></script>
{% endblock %}