{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <title>::|:logIn</title>
    <title>Document</title>
</head>
<body>
    <!--Login Start-->
    <div class="login">
        <div class="logPn">
            <h2>ADMIN LOGIN</h2>
            <!--Login Form Start-->
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="username" id="user" placeholder="Username">
                <input type="password" name="password" id="pass" placeholder="Password">
                <button type="submit" >Login</button>
            </form>
            <!--Login Form End-->

            <!--ERROR LOGIN-->
            
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}    
            
            <!--Forgot Pass-->
            <div class="bott">
                <a href="{% url 'index' %}"><span>Go Back Home</span></a>
            </div>
            <!--Forgot Pass-->
        </div>
    </div>
    <!--Login End-->

</body>
</html>