

/* Intro Banner */
.banner {
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: 'Rubik', sans-serif;
}

.banner::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0,0.3);
}

.banner span {
    position: absolute;
    left: 37%;
    bottom: 50%;
    font-size: 70px;
    font-weight: 500;
    color: white;
}

.picEm {
    height: 100%;
    width: 100%;
}

.picEm img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Email Styling */
.emailBody {
    height: 95vh;
    width: 100%;
    font-family: 'Rubik', sans-serif;
}

form {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.first {
    height: 70px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

form input {
    height: 50px;
    width: 300px;
}

form span {
    font-size: 30px;
    color: crimson;
}

input[type='text' i ]{
    padding-left: 15px;
}

input {
    color: rgb(65, 65, 236);
    opacity: 0.8;
}

input::placeholder {
    color: rgb(65, 65, 236);
}


form textarea::placeholder{
    color: rgb(65, 65, 236);
    padding-left: 10px;
    opacity: 0.8;
}

form textarea::placeholder {
    padding-top: 10px;
}

form textarea {
    width: 1020px;
    height: 250px;
    resize: none;
}

form input, form textarea {
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    color: rgb(65, 65, 236);
    border: 1px solid rgb(150, 150, 255);
    outline: none;
    border-radius: 10px;
}

form button {
    cursor: pointer;
    height: 50px;
    width: 300px;
    border: none;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 20px;
    background-color: rgb(83, 83, 245);
    border-radius: 30px;
}



/*Responsiveness*/

/* 1030px */

@media only screen and (max-width: 1030px){
    /* Intro Banner */
    .banner {
        height: 800px;
    }

    .banner::before {
        height: 800px;
    }

    .banner span {
        left: 33%;
        bottom: 50%;
    }

        /* Email Styling */
    .emailBody {
        height: 60vh;
        width: 100%;
        font-family: 'Rubik', sans-serif;
    }

    form {
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
    }

    .first {
        height: 300px;
        width: 80%;
        justify-content: space-around;
        flex-direction: column;
    }

    form textarea {
        width: 700px;
        height: 200px;
    }

}

/* 840px */ 
@media only screen and (max-width: 840px){

    /* Banner Style */

    .banner span {
        left: 26%;
        bottom: 50%;
    }

    /* Email Body */
    .emailBody {
        height: 70vh;
        width: 100%;
        font-family: 'Rubik', sans-serif;
    }

}

/* 550px */

@media only screen and (max-width: 550px){
    /* Banner Style */

    .banner span {
        left: 24%;
        bottom: 50%;
        font-size: 50px;
    }

    /* Email Body */
    .emailBody {
        height: 100vh;
    }

    form textarea {
        width: 500px;
    }
}

/* 420px */

@media only screen and (max-width: 420px){
    /* Banner Style */

    .banner {
        height: 600px;
    }

    .banner::before {
        height: 600px;
    }
    

    .banner span {
        left: 17%;
    }
    /* Email Body */
    .emailBody {
        height: 100vh;
    }

    form textarea {
        width: 360px;
    }
}

/* 375px */
@media only screen and (max-width: 375px){
    .banner span {
        left: 13%;
    }
    /* Email Body */

    .first {
        height: 250px;
    }

    form textarea {
        width: 340px;
        height: 150px;
    }
}

/* 320px */
@media only screen and (max-width: 320px){
    .banner span {
        left: 14%;
        font-size: 40px;
    }
    /* Email Body */

    .first {
        width: 100%;
    }

    form input {
        height: 50px;
        width: 270px;
    }

    form textarea {
        width: 300px;
        height: 150px;
    }
}

/* 290px */
@media only screen and (max-width: 290px){

    .banner {
        height: 550px;
    }

    .banner::before {
        height: 550px;
    }

    .banner span {
        left: 10%;
    }

    form textarea {
        width: 270px;
        height: 150px;
    }

    form button {
        height: 40px;
        width: 250px;
    }
    
}