* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

.login {
    height: 100vh;
    width: 100%;
    display: flex;
}

/* Right Side */

.logPn {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logPn h2 {
    position: absolute;
    color: #3A3FC0;
    font-size: 40px;
    font-weight: 300;
    top: 150px;
}

form {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input {
    color: #3A3FC0;
    outline: none;
    height: 45px;
    width: 300px;
    border: none;
    background-color: #E0E0E0;
    border-radius: 30px;
    font-size: 16px;
    font-weight: lighter;
}

input[type='text' i ]{
    padding-left: 15px;
}

input[type='password' i ]{
    padding-left: 15px;
}

input::placeholder {
    color: #3A3FC0;
    font-weight: 100;
    opacity: 0.8;
}

/* ERROR MESSAGE */


.login p {
    color: rgb(238, 74, 74);
    padding-top: 15px;
}

button {
    cursor: pointer;
    outline: none;
    color: #E0E0E0;
    height: 45px;
    width: 200px;
    background-color: #3A3FC0;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    transition: all .5s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

.bott {
    display: flex;
    justify-content: space-around;
    height: 120px;
    width: 100%;
    position: absolute;
    bottom: 50px;
}

.bott a span {
    font-size: 20px;
    font-weight: lighter;
    color: rgb(27, 138, 32);
}



/* Responsiveness */

/* 1030px */
@media only screen and (max-width: 1030px){
    .login {
        height: 630px;
    }
}

/* 290px */
@media only screen and (max-width: 290px){
    /* Login Input */
    input {
        width: 260px;
    }
}